ion-content {
  background-image: url('../assets/imgs/fond_champions_league.jpg');
  background-size: cover;
}

.logo {
  width: 70%;
  // height: auto;
  margin: 0 auto;
}

.buttons {
  margin-top: 5rem;
}
